@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-editor {
  height: 100% !important;
}

.cm-editor .cm-scroller {
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace !important;
  line-height: 1.5 !important;
}

.cm-editor.cm-focused {
  outline: none !important;
}

.cm-editor .cm-line {
  padding: 0 4px;
}